/* HEADER */

.header {
  user-select: none;
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  transition: top 0.3s ease-in-out;
  /* background-color: rgba(0, 0, 0, .85); */
  background-color: var(--color-7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/* logo */
.logo {
  width: 100%;
}

.logo img {
  width: 150px;
}

/* menu */
.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  z-index: 100;
}

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 3em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger svg:hover {
  border: 1px solid var(--color-2);
}

.line {
  fill: none;
  stroke: var(--color-2);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line:hover {
  stroke: var(--color-3);
  stroke-width: 7;
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
  transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/* menu navegação */
.menu-aberto {
  background-image: url('../../assets/images/hero/imagem8.jpg');
  background-position: center;
  position: fixed;
  right: 0;
  top: 0;
  height: 0;
  width: 50%;
  z-index: 98;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
}

.menu-aberto.active {
  height: 100vh;
  opacity: 1;
}

.sombra-menu {
  background-color: var(--color-1);
  opacity: 0.4;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.nav-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  transition: opacity 0.5s ease-in-out;
}

.nav-menu a {
  user-select: none;
  text-decoration: none;
  color: var(--color-5);
  font-family: var(--font-2);
  font-size: 3rem;
  font-weight: bold;
  opacity: 0;
  transform: translateY(-20px);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.menu-aberto.active .nav-menu a {
  opacity: 1;
  transform: translateY(0);
}

.nav-menu a:hover {
  color: var(--color-8);
  transition: all 0.3s ease;
  text-shadow: var(--color-3) 1px 0 10px;
}