/* INÍCIO */

.inicio {
  background-image: url('../../assets/images/hero/imagem1.jpg');
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 1rem;
  z-index: 1;
  user-select: none;
}

.sombra-inicio {
  background-color: var(--color-1);
  opacity: 0.2;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
}

.container-inicio {
  width: 100%;
  height: 100vh;
  color: var(--color-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.conteudo-inicio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.titulo-inicio {
  font-size: clamp(1rem, 2.5vw + .8rem, 3rem);
  font-family: var(--font-1);
  font-weight: normal;
  text-shadow: var(--color-3) 1px 0 10px;
}

.titulo-inicio h1:first-child {
  text-shadow: var(--color-1) 1px 0 10px;
}

.destaque-inicio {
  font-weight: lighter;
}

.paragrafo-inicio p {
  font-size: clamp(1.2rem, 1.5vw + .8rem, 2rem);
  max-width: 800px;
  color: var(--color-5);
  margin: 2rem auto;
  line-height: 1.8rem;
  font-family: var(--font-2);
}

/* Botão CTA */
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: url('../../assets/icons/cursor/cursor2.png'), pointer;
}

.cta span {
  font-size: clamp(1.2rem, 1.5vw + 1rem, 2rem);
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: var(--color-7);
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: var(--font-2);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--color-5);
  cursor: url('../../assets/icons/cursor/cursor2.png'), pointer;
}

.cta:hover span {
  color: var(--color-3);
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--color-7);
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: var(--color-2);
}

.cta:hover svg {
  transform: translateX(0);
  stroke: var(--color-7);
}

.cta.active {
  transform: scale(0.95);
}

.complemento-inicio {
  position: absolute;
  bottom: 2rem;
  width: 100vw;
  padding: 0rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.complemento-inicio .text {
  width: 110px;
  cursor: url('../../assets/icons/cursor/cursor2.png'), pointer;
}

.complemento-inicio .qr-code {
  width: 80px;
  opacity: .2;
  transition: all .5s ease-in-out;
  cursor: url('../../assets/icons/cursor/cursor5.png'), pointer;
}

.qr-code:hover {
  opacity: 1;
}