/* KEYFRAMES */

/* Botão WhatsApp */
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  }

  50% {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.7);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  }
}

/* Menu */
@keyframes pulse-general {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* Sobre */
@keyframes scroll {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}