/* SERVIÇOS */

.servicos {
  background-color: var(--color-7);
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}

.container-servicos {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.headline-servicos {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo-servicos {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.titulo-servicos h1 {
  color: var(--color-5);
  width: 50%;
  font-size: 8vw;
  font-weight: lighter;
  font-family: var(--font-1);
}

.descricao-servicos {
  width: 50%;
  font-size: 2rem;
  text-align: right;
  line-height: 1.4;
  letter-spacing: 1.5px;
  font-weight: lighter;
  font-family: var(--font-1);
  color: var(--color-5);
}

.servicos-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem 0rem;
}

.card-servicos {
  border: 1px solid var(--color-5);
  max-width: 95%;
  min-height: 180px;
  border-radius: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.card-servicos-left {
  margin-left: 5%;
  border: 1px solid var(--color-5);
  width: 95%;
  min-height: 180px;
  border-radius: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  gap: 7%;
}

.card-titulo {
  width: 80%;
}

.card-titulo h1 {
  font-size: clamp(1rem, 2.5vw + .4rem, 2rem);
  font-family: var(--font-2);
  font-weight: bolder;
  color: var(--color-9);
}

.card-servicos:hover .card-titulo h1,
.card-servicos-left:hover .card-titulo h1 {
  display: none;
}

.card-titulo p {
  display: none;
  font-size: clamp(0.8rem, 2.5vw + .4rem, 2rem);
  line-height: 30px;
  font-family: var(--font-1);
  font-weight: lighter;
}

.card-servicos:hover .card-titulo p,
.card-servicos-left:hover .card-titulo p {
  display: block;
  color: var(--color-5);
}

.card-servicos:hover,
.card-servicos-left:hover {
  border: 2px solid var(--color-1);
  background-color: rgba(0, 0, 0, 0.3);
}

.card-icon {
  width: 25%;
  height: 60px;
  max-width: 120px;
  border: 1px solid var(--color-5);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-icon i {
  font-size: 2rem;
  color: var(--color-5);
  margin-bottom: -7px;
}

.card-servicos:hover .card-icon,
.card-servicos-left:hover .card-icon {
  border: 1px solid var(--color-9);
}

.card-servicos:hover .card-icon i,
.card-servicos-left:hover .card-icon i {
  color: var(--color-9);
}