@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Nanum+Myeongjo&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Arial';
}

body {
  min-height: 100vh;
  background-color: var(--color-6);
  /* overflow: hidden; */
}

:root {
  --color-1: #000000;
  --color-2: #ffffff;
  --color-3: #444857;
  --color-4: #47cf73;
  --color-5: #ff0000;
  --color-6: #0c192c;
  --color-7: #2dc3ff;

  --font-1: "Roboto Mono";
  --font-2: "Roboto Slab";
  --font-3: "Quicksand";
  --font-4: "Nanum Myeongjo";
  --font-5: "Merienda";
}

.container {
  width: 144rem;
}

/* HEADER */
header {
  background-color: var(--color-1);
  display: flex;
  justify-content: center;
  height: 7rem;
}

.allHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.allHeader .logo h1 {
  color: var(--color-2);
  font-size: 3rem;
  font-family: var(--font-1);
}

.allHeader .menu a {
  background-color: var(--color-3);
  color: var(--color-2);
  text-decoration: none;
  font-family: var(--font-3);
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: .5rem;
  transition: .3s ease-in-out;
}

.allHeader .menu a i {
  font-size: 1.5rem;
}

.allHeader .menu a:hover {
  background-color: var(--color-2);
  color: var(--color-1);
  font-weight: bold;
}

.allHeader .menu .like:hover {
  background-color: var(--color-2);
  color: var(--color-5);
}

.allHeader .menu .sign_up:hover {
  background-color: var(--color-4);
  color: var(--color-2);
}

.allHeader .menu ul {
  display: flex;
  justify-content: space-between;
}

.allHeader .menu ul li {
  list-style: none;
}

.allHeader .menu ul li:not(:last-child) {
  margin-right: 1rem;
}

/* FIM HEADER */

/* HERO */
/* bolhas */
.container_bolhas {
  position: relative;
  width: 100%;
}

.bolhas {
  position: absolute;
  display: flex;
}

.bolhas span {
  width: 30px;
  height: 30px;
  background-color: var(--color-6);
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #2dc3ff44,
    0 0 50px var(--color-7),
    0 0 100px var(--color-7);
  animation: animar calc(100s / var(--i)) linear infinite;
}

@keyframes animar {
  0% {
    transform: translateY(100vh) scale(0);
  }

  100% {
    transform: translateY(0vh) scale(2);
  }
}

.bolhas span:nth-of-type(even) {
  background: var(--color-2);
  box-shadow: 0 0 0 10px #2dc3ff44,
    0 0 50px var(--color-7),
    0 0 100px var(--color-7);
}

/* fim bolhas */
/* FIM HERO */

/* HOME */
.allContainer {
  position: absolute;
}

.container_content {
  position: relative;
  width: 170rem;
  height: 465rem;
  background-color: #ffffff40;
  margin: 5rem auto;
}

.dedicated_home {
  padding: 10rem 0;
  width: 144rem;
  margin: 0 auto;
  color: var(--color-2);
  text-align: center;
}

.dedicated_home h1 {
  font-size: 5rem;
  font-family: var(--font-4);
  text-transform: uppercase;
}

.dedicated_home h3 {
  margin-top: 2rem;
  font-size: 1.7rem;
  font-family: var(--font-1);
}

.dedicated_home h2 {
  margin-top: 5rem;
  font-size: 3rem;
  font-family: var(--font-5);
}

.dedicated_home img {
  margin-top: 3rem;
  width: 30rem;
  border-radius: 50%;
  border: .3rem solid var(--color-3);
  transition: .3s ease-in-out;
  opacity: 1;
}

.dedicated_home img:hover {
  opacity: .5;
  border: .3rem solid transparent;
}

.dedicated_home .phrase {
  width: 70rem;
  margin: 0 auto;
}

.dedicated_home .phrase h3 {
  margin-top: 3rem;
  font-size: 1.5rem;
  font-family: var(--font-3);
}

/* ABOUT */
.dedicated_about {
  display: flex;
  width: 128rem;
  margin: 0 auto;
  text-align: center;
}

.content_curiosities {
  width: 30%;
}

.content_curiosities div {
  display: flex;
  justify-content: space-between;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: 2rem;
}

.content_curiosities h2 {
  color: var(--color-1);
  font-weight: bold;
  font-size: 2rem;
  font-family: var(--font-3);
}

.content_curiosities h3 {
  color: var(--color-2);
  font-weight: 100;
  font-size: 1.7rem;
  font-family: var(--font-2);
}

.vertical_bar {
  background-color: var(--color-2);
  width: .2rem;
  height: 50rem;
  margin-right: 4rem;
}

.content_summary {
  width: 70%;
}

.content_summary p {
  color: var(--color-2);
  font-size: 2rem;
  margin-bottom: 3rem;
  text-align: start;
  font-family: var(--font-3);
}

.content_summary p a {
  text-decoration: none;
  color: var(--color-4);
  font-size: 2rem;
  font-family: var(--font-3);
}

.content_summary p a:hover {
  color: var(--color-7);
  text-decoration: underline;
}

.dedicated_life {
  width: 128rem;
  text-align: center;
  margin: 10rem auto;
}

.title_form {
  margin-bottom: 3rem;
}

.title_form a {
  text-decoration: none;
  color: var(--color-4);
  font-size: 4rem;
  font-family: var(--font-4);
}

.title_form a:hover {
  text-decoration: underline;
  color: var(--color-7);
}

.text_form {
  color: var(--color-2);
  font-size: 2rem;
  font-family: var(--font-3);
}

.content_life {
  margin-bottom: 5rem;
}

.horizontal_bar {
  background-color: var(--color-2);
  width: 30rem;
  height: 1rem;
  border-radius: 5rem;
  margin: 0 auto;
}

.dedicated_legacy {
  width: 128rem;
  margin: 0 auto;
  display: flex;
}

.content_plato {
  width: 50%;
  padding-right: 3rem;
  text-align: start;
}

.dedicated_legacy .vertical_bar {
  height: 203rem;
}

.content_legacy p {
  font-size: 1.5rem;
}

.content_legacy {
  width: 50%;
  padding-left: 2rem;
  text-align: justify;
}

/* FOOTER */
.footer .allContainer {
  position: absolute;
  margin-top: 5rem;
}

.footer .container_content {
  position: relative;
  width: 170rem;
  height: 50rem;
  background-color: #ffffff40;
  margin: 5rem auto;
  text-align: center;
}

.title_footer h2 {
  color: var(--color-1);
  padding: 7rem;
  font-size: 10rem;
  font-family: var(--font-3);
}

.copy_footer h3 {
  color: var(--color-2);
  width: 80rem;
  margin: 0 auto;
  font-size: 1.5rem;
  font-family: var(--font-2);
  font-weight: 300;
}

.copy_footer h3 a {
  text-decoration: none;
  color: var(--color-4);
  font-size: 1.5rem;
  font-family: var(--font-2);
  font-weight: 300;
}

.copy_footer h3 a:hover {
  text-decoration: underline;
  color: var(--color-7);
}

.copy_footer p {
  margin-top: 7rem;
  color: var(--color-2);
  font-size: 1.5rem;
  font-family: var(--font-3);
  font-weight: 300;
}