/* ======= 1.3 Card Section ======= */

.feature {
  background-color: var(--color-19);
  margin-bottom: -1px;
  position: relative;
}

.feature .flex {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
}

.header-card {
  margin-top: -145px;
  display: flex;
  flex: 0 0 auto;
  width: 25%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-y) * .5);
}

.header-card div {
  border-radius: 20px;
  background: linear-gradient(0deg, var(--color-20) 0%, var(--color-21) 100%);
  color: var(--color-2);
  padding: 40px 30px;
  transition: all 0.4s ease;
}

.header-card div:hover {
  transform: scale(1.05);
  transition: all 0.4s ease;
}

.header-card .figure-img1 {
  width: 53px;
}

.header-card img {
  width: 60px;
}

.header-card h4 {
  width: 146px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  margin: 20px 0 12px 0;
}