/* ======= 1.8 Experience Section ======= */

.experience {
  background-image: url('../../assets/images/background/experience_bg.jpg');
  background-size: cover;
  background-position: center center;
  padding: 120px 0;
  position: relative;
  margin-top: -1px;
}

.experience::before {
  position: absolute;
  content: '';
  top: 26rem;
  background-image: url('../../assets/images/background/experience_cercle.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 30%;
  height: 39%;
  left: 32%;
}

.experience h5 {
  color: var(--color-2);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.experience h2,
.experience p {
  color: var(--color-2);
}

.exp-center p {
  padding: 0 221px 0 0;
}

.experience .exp-hr1 {
  opacity: 1.25;
  height: 1px;
  color: var(--color-8);
  width: 60px;
  border: 1px solid;
}

.experience hr {
  width: 100%;
  opacity: 1.25;
  height: 1px;
  color: var(--color-22);
  border: 1px solid;
  margin: 35px 0;
}

.experience .btn-hover1 {
  padding: 15px 40px;
}

.experience .btn-hover2 {
  padding: 15px 30px;
  border: 1px solid var(--color-12);
}

.experience-mask figure {
  width: fit-content;
  clip-path: circle(47% at 50% 50%);
  padding: 6px;
  background: linear-gradient(11deg, var(--color-4) 0.01%, var(--color-5) 100%);
  transition: all 0.8s ease;
}

.experience-mask figure:hover {
  transform: scale(1.05);
}

.experience-hr {
  color: var(--color-2);
  position: absolute;
  left: -45px;
  bottom: 25px;
  rotate: -90deg;
}

.experience-hr h6 {
  letter-spacing: 3.72px;
  text-transform: uppercase;
}

.experience-hr hr {
  width: 60px;
  opacity: 1.25;
  height: 1px;
  color: var(--color-2);
  border: 1px solid;
  margin: 0;
}

.ex-card {
  border-radius: 10px;
  background-color: var(--color-2);
  box-shadow: 0 23px 30px 0 rgba(0, 0, 0, 0.15);
  padding: 20px;
  z-index: 1;
}

.ex-card:hover {
  background: linear-gradient(11deg, var(--color-4) 0.01%, var(--color-5) 100%);
  transform: scale(1.05);
  transition: all 0.4s ease;
}

.ex-card p {
  color: var(--color-23);
  margin-top: 10px;
  padding: 0;
  font-weight: 600;
}

.ex-card h4 {
  color: var(--color-24);
}

.ex-card div:last-child {
  width: 100%;
}

.ex-card:hover.ex-card h3 {
  color: var(--color-4) !important;
}

.ex-card:hover.ex-card .flex {
  background: var(--color-2);
}

.ex-card .flex {
  border-radius: 50%;
  background: linear-gradient(11deg, var(--color-4) 0.01%, var(--color-5) 100%);
  color: var(--color-2);
  width: 115px;
  padding: 29px 0;
}