 /* ======= 1.14 Footer Section =======  */

 footer {
   background: var(--color-19);
   padding: 120px 0 0 0;
 }

 .footer-hr .flex {
   rotate: -90deg;
 }

 .footer-hr h6 {
   color: var(--color-2);
   letter-spacing: 3.72px;
   text-transform: uppercase;
 }

 .footer-hr h3 {
   margin-top: 125px;
   color: var(--color-2);
   letter-spacing: 1px;
 }

 .footer-hr p {
   color: var(--color-2);
   padding: 0 25%;
   margin: 20px 0 30px 0;
 }

 .footer-hr hr {
   opacity: 1.25;
   height: 1px;
   color: var(--color-2);
   width: 60px;
   border: 1px solid;
 }

 footer form {
   border-radius: 50px;
   border: 1px solid var(--color-15);
   background: var(--color-16);
   width: 76%;
   margin: auto;
 }

 footer form input {
   border-radius: 50px;
   background: var(--color-16);
   border: none;
   outline: none;
   padding: 10px 20px;
   color: var(--color-2);
   width: 68%;
 }

 footer form button {
   transition: all 0.3s ease;
   text-transform: uppercase;
 }

 footer form button:hover {
   color: var(--color-4);
 }

 #footer-message {
   background: var(--color-2);
   color: green;
   width: auto;
   height: auto;
   display: flex;
   align-items: flex-start;
   padding: 10px;
   font-size: 25px;
   font-weight: 800;
   text-align: center;
   font-family: "Raleway", sans-serif;
   position: fixed;
   top: 20px;
   right: 20px;
   z-index: 10;
   border-radius: 10px;
   transition: display all 0.3s ease;
   display: none;
 }

 .footer-menu {
   background: linear-gradient(0deg, var(--color-20) 0%, var(--color-21) 100%);
   color: var(--color-2);
   padding: 50px 0;
   margin-top: 77px;
 }

 .footer-menu img {
   width: 100px;
   filter: brightness(0) invert(1);
 }

 .footer-menu ul li a:hover {
   color: var(--color-17);
 }

 .footer-menu i {
   font-size: 20px;
   background: linear-gradient(0deg, var(--color-17) 0.5%, var(--color-18) 100%);
   background-clip: text;
   -webkit-text-fill-color: transparent;
   margin-right: 10px;
 }

 .footer-menu .footer-social i:hover {
   background: linear-gradient(0deg, var(--color-3) 0.5%, var(--color-2) 100%);
   background-clip: text;
   -webkit-text-fill-color: transparent;
 }

 .footer-menu h4 {
   color: var(--color-6);
   margin-bottom: 26px;
 }

 .footer-menu a {
   color: var(--color-2);
   padding: 0 !important;
 }

 .footer-menu p {
   padding: 0 78px 0 0;
 }

 .copyright {
   background: var(--color-19);
   color: var(--color-3);
   padding: 20px 0;
 }

 .copyright a {
   color: var(--color-2);
 }

 .copyright a:hover {
   color: var(--color-8);
 }