 /* ======= 1.10 Team Section =======  */

 .team {
   background-image: url('../../assets/images/background/experience_bg.jpg');
   background-size: cover;
   background-position: center center;
   padding: 120px 0 0 0;
 }

 .team h5 {
   color: var(--color-2);
   letter-spacing: 1px;
   text-transform: uppercase;
 }

 .team h2 {
   color: var(--color-2);
   padding: 0 212px 0 0;
 }

 .team p {
   color: var(--color-3);
   padding: 0 184px 0 0;
 }

 .team .team-hr1 {
   opacity: 1.25;
   height: 1px;
   color: var(--color-8);
   width: 60px;
   border: 1px solid;
 }


 .team a {
   padding: 15px 30px;
   border: 1.5px solid var(--color-12);
 }

 .team-slider {
   overflow: hidden;
   display: flex;
 }

 .team-img {
   min-width: 304px;
   object-fit: cover;
   position: relative;
   background-repeat: no-repeat;
 }

 .team-img img {
   width: 100%;
   object-fit: cover;
   background-repeat: no-repeat;
 }

 .overlay {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   background: linear-gradient(180deg, var(--color-25) 28%, var(--color-26) 68%);
   overflow: hidden;
   width: 100%;
   height: 0;
   transition: 0.5s ease;
 }

 .team-img:hover .overlay {
   height: 100%;
 }

 .overlay-text {
   position: absolute;
   width: 100%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: var(--color-2);
 }

 .overlay-text h4 {
   margin: 6px 0 15px 0;
 }

 .overlay-text i {
   color: var(--color-2);
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .overlay-text a {
   border: 1px solid var(--color-2);
   border-radius: 50%;
 }

 .overlay-text a:hover {
   background-color: var(--color-2);
 }

 .overlay-text a:hover i {
   color: var(--color-19);
 }

 .overlay-text .flex a:first-child {
   padding: 8px 12px !important;
 }

 .overlay-text .flex a:nth-child(2) {
   padding: 9px 10px !important;
 }

 .overlay-text .flex a:last-child {
   padding: 8px 10px !important;
 }

 .team-btn {
   background: linear-gradient(0deg, var(--color-20) 0%, var(--color-21) 100%);
   color: var(--color-2);
   padding: 40px 20px;
   margin-top: 90px;
   text-transform: uppercase;
 }