/* GENERAL STYLE */

/* import */
@import url('css-files/import.css');

/* variables */
:root {
  --color-1: #000;
  --color-2: #fff;
  --color-3: #3d4143;
  --color-4: #9c9d9d;
  --color-5: #f6f6f6;
  --color-6: #e7fc00;
  --color-7: #728e6f;
  --color-8: #24D366;
  /* --color-9:  */
  /* --color-10:  */

  --font-1: "TT Hoves Pro Trial", sans-serif;
  --font-2: "ClashGrotesk-Light", sans-serif;
  --font-3: "Roboto", sans-serif;
  --font-4: "Poppins", sans-serif;
  --font-5: "Raleway", sans-serif;
}

/* Website */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-2);
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  transition: transform 0.3s ease-out;
}

.container {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-1);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(42deg, var(--color-2) 20%, var(--color-3) 80%);
  border-radius: 20px;
  border: 3px solid var(--color-1);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-8);
}

/* Cursor */
body {
  cursor: url('../assets/icons/cursor/cursor.png'), auto;
}