/* - FOOTER CSS - */

footer {
  background-color: var(--color-9);
}

#footer_items {
  display: flex;
  justify-content: space-between;
  padding: 0px 8% 24px 8%;
  align-items: center;
}

#copyright {
  color: var(--color-5);
  font-weight: 500;
}