/* - HEADER CSS - */

.header {
  width: 100%;
  padding: 28px 8%;
  position: sticky;
  top: 0;
  background-color: var(--color-10);
  z-index: 3;
}

#navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav_logo {
  font-size: 24px;
  color: var(--color-3)
}

#nav_list {
  display: flex;
  list-style: none;
  gap: 48px;
}

.nav-item a {
  text-decoration: none;
  color: var(--color-4);
  font-weight: 600;
}

.nav-item.active a {
  color: var(--color-5);
  border-bottom: 3px solid var(--color-6);
}