/* - RESPONSIVENESS CSS - */

@media screen and (max-width: 1170px) {

  /* HEADER */
  /* menu */
  #nav_list,
  #navbar .btn-default {
    display: none;
  }

  /* mobile menu */
  #mobile_btn {
    display: block;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }

  #mobile_menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #mobile_nav_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0;
  }

  #mobile_nav_list .nav-item {
    list-style: none;
    text-align: center;
  }

  /* HOME */
  #home {
    min-height: 100%;
    padding-top: 0px;
  }

  #banner,
  #banner img,
  #home .shape {
    display: none;
  }

  #cta {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  /* CARDÁPIO-MENU */
  #dishes {
    flex-wrap: wrap;
    justify-content: center;
  }

  .dish {
    width: calc(50% - 12px);
  }

  /* TESTIMONIALS */
  #testimonials {
    flex-direction: column;
  }

  #testimonials .section-subtitle {
    text-align: center;
    font-size: 2.5rem;
  }

  #testimonial_chef {
    display: none;
  }

  #testimonials_content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 450px) {

  /* HOME */
  #phone_button button {
    display: none;
  }
}

@media screen and (max-width: 600px) {

  /* CARDÁPIO-MENU */
  .dish {
    width: 100%;
  }

  #menu .section-subtitle {
    text-align: center;
  }

  /* TESTIMONIALS */
  #testimonials .section-subtitle {
    font-size: 2rem;
  }

  #testimonials_content {
    width: 100%;
  }

  .feedback {
    flex-direction: column;
  }

  /* FOOTER */
  #footer_items {
    flex-direction: column;
    gap: 20px;
  }
}