/* - GENERAL STYLE - */

/* IMPORT */
@import url('./import.css');

/* ALL WEBSITE */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  /* font-size: 10px; */
}

html {
  scroll-behavior: smooth;
}

/* body {
  background-color: var(--bg-color-1);
} */

/* section {
  padding: 28px 8%;
} */

/* VARIABLES */
:root {
  --color-1: #000;
  --color-2: #fff;
  --color-3: #d3c9c1;
  --color-4: #7436bb;
  --color-5: #b420a3;
  --color-6: #f57c48;
  --color-7: #3d0541;
  --color-8: #b520a3;
  --color-9: #999;
  --color-10: #150803;
  --color-11: #d12bec;
  --color-12: #ff7527;
  --color-13: #fabf28;
  /* --color-14: */
  /* --color-15: */
  /* --color-16: */
  /* --color-17: */
  /* --color-18: */
  /* --color-19: */
  /* --color-20: */

  /* --font-1:  */
}